.chessboard-pane {
    
    -fx-background-color: #999999;
    
}

.chessboard {

    -fx-fill: #777777;    
        
}

.black-field {
    
    -fx-fill: #666666;    
    
}

.white-field {
    
    -fx-fill: snow;    
    
}

.field-label {
    -fx-fill: #555555;
    -fx-font-family: sans-serif;
    -fx-font-size: 2em;
    -fx-text-alignment: center;
}

.field-signalisation-path {
    -fx-stroke: #ff1098;
    -fx-stroke-width: 2.5;
}

.field-warning {
    -fx-fill: #ff4f52;
}